<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Dutielly.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Dutielly.Shared/app.css" />
    <link rel="stylesheet" href="Dutielly.Web.styles.css" />
    <link rel="manifest" href="_content/Dutielly.Shared/manifest.webmanifest" />
    <meta name="theme-color" content="#0f8f7a" />
    <link rel="icon" type="image/svg+xml" href="_content/Dutielly.Shared/favicon.svg" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
