<span class="icon @Class" aria-hidden="true">
    <svg viewBox="0 0 24 24" focusable="false">
        <path d="@PathData"></path>
    </svg>
</span>

@code {
    [Parameter] public string Name { get; set; } = "spark";
    [Parameter] public string? Class { get; set; }

    private string PathData => Name switch
    {
        "ai" => "M12 3l1.8 4.4L18 9.2l-4.2 1.8L12 15.4l-1.8-4.4L6 9.2l4.2-1.8L12 3z M6 13l.9 2.1L9 16l-2.1.9L6 19l-.9-2.1L3 16l2.1-.9L6 13z M18 14l1 2 2 1-2 1-1 2-1-2-2-1 2-1 1-2z",
        "analytics" => "M4 19V5m0 14h16M8 16v-5m4 5V8m4 8v-7m4 7v-3",
        "badge" => "M7 3h10v4l-2 2 2 2v10H7V11l2-2-2-2V3z M10 15h4M10 18h4",
        "bank" => "M3 10l9-6 9 6H3z M5 10v8m4-8v8m6-8v8m4-8v8M4 20h16",
        "bell" => "M18 16v-5a6 6 0 10-12 0v5l-2 2h16l-2-2z M10 20h4",
        "book" => "M5 4h10a4 4 0 014 4v12H9a4 4 0 00-4-4V4z M5 4v12m4-8h6m-6 4h6",
        "brain" => "M9 4a4 4 0 00-4 4 3 3 0 000 6 4 4 0 004 4h6a4 4 0 004-4 3 3 0 000-6 4 4 0 00-4-4H9z M9 8v8m6-8v8m-6-4h6",
        "briefcase" => "M9 6V4h6v2m-9 0h12a2 2 0 012 2v9a2 2 0 01-2 2H6a2 2 0 01-2-2V8a2 2 0 012-2z M4 12h16",
        "building" => "M4 20V5a2 2 0 012-2h8a2 2 0 012 2v15M8 7h2m2 0h2M8 11h2m2 0h2M8 15h2m2 0h2m4-4h2a2 2 0 012 2v7",
        "calendar" => "M5 5h14a2 2 0 012 2v12H3V7a2 2 0 012-2z M8 3v4m8-4v4M3 10h18",
        "card" => "M3 7h18v10a2 2 0 01-2 2H5a2 2 0 01-2-2V7z M3 10h18M7 15h4",
        "chart" => "M4 19h16M7 16V9m5 7V5m5 11v-4",
        "clock" => "M12 3a9 9 0 100 18 9 9 0 000-18z M12 7v5l3 2",
        "door" => "M6 3h10a2 2 0 012 2v16H6V3z M10 12h1M18 21h3",
        "formula" => "M4 6h9M4 18h9M7 6c3 0 3 12 6 12m5-9l3 6m0-6l-3 6",
        "heart" => "M12 20s-8-4.6-8-10a4.5 4.5 0 018-2.8A4.5 4.5 0 0120 10c0 5.4-8 10-8 10z",
        "home" => "M3 11l9-8 9 8v9a1 1 0 01-1 1h-5v-6H9v6H4a1 1 0 01-1-1v-9z",
        "layers" => "M12 3l9 5-9 5-9-5 9-5z M3 12l9 5 9-5M3 16l9 5 9-5",
        "leaf" => "M20 4c-8 0-14 5-14 12 0 2 1 4 3 5 6-1 10-6 11-17z M9 17c2-3 5-5 8-7",
        "lock" => "M7 11V8a5 5 0 0110 0v3m-11 0h12v10H6V11z M12 15v3",
        "map" => "M9 18l-6 3V6l6-3 6 3 6-3v15l-6 3-6-3z M9 3v15m6-12v15",
        "money" => "M4 7h16v10H4V7z M8 7a4 4 0 01-4 4m16-4a4 4 0 00-4 4m-4-1a2 2 0 100 4 2 2 0 000-4z",
        "note" => "M6 3h9l3 3v15H6V3z M14 3v4h4M9 11h6M9 15h6M9 19h3",
        "people" => "M8 11a4 4 0 100-8 4 4 0 000 8z M2 21a6 6 0 0112 0M17 11a3 3 0 100-6M15 14a5 5 0 017 5",
        "phone" => "M8 2h8a2 2 0 012 2v16a2 2 0 01-2 2H8a2 2 0 01-2-2V4a2 2 0 012-2z M10 18h4",
        "plug" => "M9 3v6m6-6v6m-8 0h10v3a5 5 0 01-10 0V9z M12 17v4",
        "receipt" => "M6 3h12v18l-3-2-3 2-3-2-3 2V3z M9 8h6M9 12h6M9 16h4",
        "scale" => "M12 3v18M5 7h14M6 7l-3 6h6L6 7z M18 7l-3 6h6l-3-6z",
        "shield" => "M12 3l8 3v6c0 5-3.5 8-8 9-4.5-1-8-4-8-9V6l8-3z M9 12l2 2 4-5",
        "spark" => "M12 2l2.2 6.2L20 10l-5.8 1.8L12 18l-2.2-6.2L4 10l5.8-1.8L12 2z M5 15l1 2 2 1-2 1-1 2-1-2-2-1 2-1 1-2z",
        "target" => "M12 3a9 9 0 100 18 9 9 0 000-18z M12 7a5 5 0 100 10 5 5 0 000-10z M12 11a1 1 0 100 2 1 1 0 000-2z",
        "team" => "M9 12a4 4 0 100-8 4 4 0 000 8z M3 21a6 6 0 0112 0m4-8a3 3 0 100-6m-1 10a5 5 0 014 4",
        "ticket" => "M4 7h16v4a2 2 0 000 4v4H4v-4a2 2 0 000-4V7z M9 8v10",
        "wallet" => "M4 6h14a2 2 0 012 2v10H4a2 2 0 01-2-2V8a2 2 0 012-2z M16 12h6v4h-6a2 2 0 010-4z",
        _ => "M12 2l2.2 6.2L20 10l-5.8 1.8L12 18l-2.2-6.2L4 10l5.8-1.8L12 2z"
    };
}
